<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PersonLibrary.Properties.Settings.PeopleConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\People.mdf&quot;;Database=People;Trusted_Connection=Yes;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
